body {
    margin: 0;
    overflow: hidden;
    background-color: lightgray;
 }
 canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: 5px solid black;
 }
 #ui { 
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: none; /* Initially hidden */
 }
 